swagger: '2.0'
info:
  description: "The AvaTax REST API exposes the most commonly used available for interacting with the AvaTax service, allowing calculation of tax, modification of documents, and validation of addresses. If you're unsure of which API to use, a full comparison of the differences between the functionality provided by our REST and SOAP interfaces is documented [here](http://developer.avalara.com/api-docs/designing-your-integration/soap-or-rest). \n You will not be able to make web service calls until you have received an active account number and license key via email, or a username and password from the [sandbox registration](http://developer.avalara.com/getting-started). Authentication is in the format `Basic [account number]:[license key]` encoded to Base64, as per basic access authentication. For example: `Authorization: Basic a2VlcG1vdmluZzpub3RoaW5nMnNlZWhlcmU=`"
  version: '1.0'
  title: AvaTax 15 REST API
  termsOfService: 'http://www.avalara.com/terms/'
  contact:
    name: 'For support, visit the Avalara Community'
    url: 'https://community.avalara.com/avalara/category_sets/developers'
  license:
    name: Apache 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0.html'
host: development.avalara.net
basePath: /1.0
schemes:
  - https
produces:
  - application/json
  - application/xml
security:
  - basic_auth: []
paths:
  '/tax/get':
    post:
      tags:
        - REST
        - AvaTax
        - GetTax
      summary: Calculate Tax and Record a Document
      description: 'Calculates taxes on a document such as a sales order, sales invoice, purchase order, purchase invoice, or credit memo.'
      operationId: getTax
      parameters:
        - in: body
          name: GetTaxRequest
          schema:
            $ref: '#/definitions/GetTaxRequest'
      responses:
        '200':
          description: 'Successful operation'
          schema:
            $ref: '#/definitions/GetTaxResult'
        '400':
          description: ''
        '401':
          description: ''
  '/tax/cancel':
    post:
      operationId: cancelTax
      summary: Void a Document
      description: Voids or deletes and existing transaction record from the AvaTax system.
      parameters:
        - in: body
          name: CancelTaxRequest
          schema:
            $ref: '#/definitions/CancelTaxRequest'
      responses:
        '200':
          description: Successful operation
          schema: 
            $ref: '#/definitions/CancelTaxResult'
        '400':
          description: 'Invalid operation'
        '401':
          description: 'Not authorized'
  '/tax/{latitude},{longitude}/get?{saleamount}':
    get:
      tags:
        - REST
        - AvaTax
        - EstimateTax
      summary: Estimate Tax
      description: 'Retrieves tax rate details for the supplied geographic coordinates and sale amount. Since the REST API does not provide an explicit ping function, this method can also be used to test connectivity to the service.'
      operationId: estimateTax
      parameters:
        - in: path
          name: latitude
          required: true
          type: string
          format: int32
          description: The latitude of the geographic coordinates to get tax for based on the sale amount
        - in: path
          name: longitude
          required: true
          type: string
          format: int32
          description: The longitude of the geographic coordinates to get tax for based on the sale amount
        - in: path
          name: saleamount
          required: true
          type: string
          format: int32
          description: 'The amount of sale requiring tax calculation, in decimal format'
      responses:
        '200':
          description: Successful operation
          schema:
            $ref: '#/definitions/EstimateTaxResult'
        '401':
          description: Unauthorized
        '500':
          description: Invalid request
  '/address/validate':
    get:
      tags:
        - REST
        - AvaTax
        - ValidateAddress
      summary: Validate an Address
      description: 'Normalizes a single US or Canadian address, providing a non-ambiguous USPS address match.'
      operationId: validateAddress
      parameters: 
        - in: path
          name: Line1
          required: true
          type: string
          description: Address line 1
        - in: path
          name: Line2
          required: false
          type: string
          description: Address line 2
        - in: path
          name: Line3
          required: false
          type: string
          description: Address line 3
        - in: path
          name: City
          required: false
          type: string
          description: City name. Optional unless PostalCode is not specified.
        - in: path
          name: Region
          required: false
          type: string
          description: l
        - in: path
          name: Country
          required: true
          type: string
          description: l
        - in: path
          name: PostalCode
          required: false
          type: string
          description: l
      responses:
        '200':
          description: 'Successful operation'
          schema:
            $ref: '#/definitions/ValidateResult'
        '400':
          description: ''
        '401':
          description: ''
securityDefinitions:
  basic_auth:
    type: basic
    description: "In the format 'Basic [account number]:[license key]' encoded to [Base64](http://en.wikipedia.org/wiki/Base64), as per [basic access authentication](http://en.wikipedia.org/wiki/Basic_access_authentication)."
responses:
  '401':
    description: Authorization is required for this operation.
  '500':
    description: An error occured.
    schema:
      $ref: '#/definitions/Error'
definitions:
  CancelTaxRequest:
    properties:
      CancelCode:
        type: string
        description: 'The reason for cancelling the tax record. One of: Unspecified, PostFailed, DocDeleted, DocVoided, AdjustmentCancelled'
      CompanyCode:
        type: string
        description: Client application company reference code. Not required if the document is identified by DocId.
      DocCode:
        type: string
        description: 'Client application identifier describing this tax transaction (i.e. invoice number, sales order number, etc.). Not required if the document is identified by DocId.'
      DocType:
        type: string
        description: 'Value describing what type of tax document is being cancelled. One of: SalesInvoice, ReturnInvoice, PurchaseInvoice. Not required if the document is identified by DocId.'
      DocId:
        type: string
        description: 'Avatax-assigned unique Document Id, can be used in place of DocCode, DocType, and CompanyCode'
    required:
      - CancelCode
      - CompanyCode
      - DocCode
      - DocType
  GetTaxRequest:
    properties:
      BusinessIdentificationNo:
        type: string
        example: '234234'
        description: 'The buyer’s VAT id. Using this value will force VAT rules to be considered for the transaction. This may be set on the document or the line. Note that this must be a valid VAT number, and this field should not be used for any other purpose.'
      Commit:
        type: boolean
        example: 'false'
        description: 'Default is false. Setting this value to true will put the document in a Committed status, preventing further document status changes, except voiding with CancelTax.'
      Client:
        type: string
        example: AvaTaxSample
        description: An identifier of software client generating the API call.
      CompanyCode:
        type: string
        example: APITrialCompany
        description: 'The case-sensitive code that identifies the company in the AvaTax account in which the document should be posted. This code is declared during the company setup in the AvaTax Admin Console. If no value is passed, the document will be assigned to the default company. If a value is passed that does not match any company on on the account, an error is returned.'
      CustomerCode:
        type: string
        example: ABC4335
        description: The case-sensitive client application customer reference code. This is required since it is the key to the Exemption Certificate Management Service in the Admin Console.
      CurrencyCode:
        type: string
        example: USD
        description: '3 character ISO 4217 compliant currency code. If unspecified, a default of USD will be used.'
      CustomerUsageType:
        type: string
        example: G
        description: "The client application customer or usage type. More information about this value is available in the [Avalara Help Center](https://help.avalara.com/kb/001/What_are_the_Entity_Use_Codes_used_for_Avalara_AvaTax%3F). \n The standard values for the CustomerUsageType are: \n A - Federal Government \n B - State/Local Govt.\n C - Tribal Government\n D - Foreign Diplomat\n E - Charitable Organization\n F - Religious/Education\n G - Resale\n H - Agricultural Production\n I - Industrial Prod/Mfg.\n J - Direct Pay Permit\n K - Direct Mail\n L - Other\n N - Local Government\n P - Commercial Aquaculture (Canada)\n Q - Commercial Fishery (Canada)\n R - Non-resident (Canada)\n MED1 - US MDET with exempt sales tax\n MED2 - US MDET with taxable sales tax "
      DetailLevel:
        type: string
        example: Tax
        description: "Specifies the level of detail to return.\n Summary - summarizes document and jurisdiction detail with no line breakout \n Document - only document detail \n Line - document and line detail \n Tax - document, line and jurisdiction detail"
      Discount:
        type: number
        format: float
        example: '50'
        description: 'The discount amount to apply to the document. This may be used along with the line attribute Discounted in order to distribute a set discount amount proportionally across the applicable document lines. This should be an amount, not a percent.'
      DocCode:
        type: string
        description: 'While this is an optional field, serious consideration should be given to using it. If no value is sent, AvaTax assigns a GUID value to keep the document unique. This can make reconciliation a challenge.'
        example: INV001
      DocType:
        type: string
        example: SalesOrder
        description: 'The document type specifies the category of the document and affects how the document is treated after a tax calculation. If no DocType is specified in the request, SalesOrder will be used. \n SalesOrder: This is a temporary document type and is not saved in tax history. GetTaxResult will return with a DocStatus of Temporary. \n SalesInvoice: The document is a permanent invoice; document and tax calculation results are saved in the tax history. GetTaxResult will return with a DocStatus of Saved. \n PurchaseOrder: This is a temporary document type and is not saved in tax history. GetTaxResult will return with a DocStatus of Temporary. \n PurchaseInvoice : The document is a permanent invoice; document and tax calculation results are saved in the tax history. GetTaxResult will return with a DocStatus of Saved. \n ReturnOrder: This is a temporary document type and is not saved in tax history. GetTaxResult will return with a DocStatus of Temporary. \n ReturnInvoice: The document is a permanent sales return invoice; document and tax calculation results are saved in the tax history GetTaxResult will return with a DocStatus of Saved.'
      DocDate:
        type: string
        format: date
        example: '2014-01-01'
        description: 'The date on the invoice, purchase order, etc. Format YYYY-MM-DD.'
      ExemptionNo:
        type: string
        description: 'Any string value will cause the sale to be exempt. This should only be used if your finance team is manually verifying and tracking exemption certificates.'
        example: 'EX-0001'
      LocationCode:
        type: string
        example: '01'
        description: 'Also referred to as a Store Location, Outlet Id, or Outlet code. Location code is a value assigned by some State jurisdictions that identifies a particular store location. These States may require tax liabilities to be broken out separately for each store Location'
      PosLaneCode:
        type: string
        example: 09
        description: Permits a Point of Sale application to record the unique code / ID / number associated with the terminal processing a sale.
      PurchaseOrderNo:
        type: string
        example: ''
        description: Your customer’s purchase order number.
      ReferenceCode:
        type: string
        example: ''
        description: 'For returns, refers to the DocCode of the original invoice.'
      TaxOverride:
        type: object
        schema:
          $ref: '#/definitions/TaxOverride'
      Addresses:
        type: array
        items:
          $ref: '#/definitions/Address'
        description: ''
      Lines:
        type: array
        items:
          $ref: '#/definitions/Line'
        description: Document line array. There is a limit of 15000 lines per document.
    required:
      - CustomerCode
      - DocDate
      - Lines
      - Addresses
  Line:
    description: Input property of the GetTaxRequest describing item lines.
    properties:
      LineNo:
        type: string
        example: '1'
        description: Line item identifier. LineId uniquely identifies the line item row.
      DestinationCode:
        type: string
        example: '01'
        description: Destination (ship-to) address code.DestinationCode references an address from the Addresses collection.
      OriginCode:
        type: string
        example: '02'
        description: Origination (ship-from) address code. OriginCode references an address from the Addresses collection.
      ItemCode:
        type: string
        example: N543
        description: 'Your item identifier, SKU, or UPC. Strongly recommended.'
      TaxCode:
        type: string
        example: NT
        description: 'Product taxability code of the line item. Can be an AvaTax system tax code, or a custom-defined tax code.'
      CustomerUsageType:
        type: string
        example: L
        description: The client application customer or usage type. CustomerUsageType determines the exempt status of the transaction based on the exemption tax rules for the jurisdictions involved. Can also be referred to as Entity/Use Code. More information about this value is available in the Avalara Help Center.
      BusinessIdentificationNo:
        type: string
        example: '234234'
        description: The buyer’s VAT id. Using this value will force VAT rules to be considered for the transaction. This may be set on the document or the line.
      Description:
        type: string
        example: Red Size 7 Widget
        description: Item description. Required for customers using our filing service.
      Qty:
        type: number
        example: '1'
        description: Item quantity. The tax engine does NOT use this as a multiplier with price to get the Amount.
      Amount:
        type: number
        example: '10'
        description: 'Total amount of item (extended amount, qty * unit price)'
      Discounted:
        type: boolean
        example: 'false'
        description: Should be set to true if the document level discount is applied to this line item. Defaults to false.
      TaxIncluded:
        type: boolean
        example: 'false'
        description: 'Should be set to true if the tax is already included, and sale amount and tax should be back-calculated from the provided Line.Amount. Defaults to false.'
      Ref1:
        type: string
        example: ref123
        description: Value stored with SalesInvoice DocType that is submitter dependent.
      Ref2:
        type: string
        example: ref456
        description: Value stored with SalesInvoice DocType that is submitter dependent.
      TaxOverride:
        type: object
        schema: 
          $ref: '#/definitions/TaxOverride'
    required:
      - LineNo
      - DestinationCode
      - OriginCode
      - Qty
      - Amount
  TaxOverride:
    description: 'Nested object describing any tax override applied to the document. TaxOverride only needs to be included when there is need to override our tax calculation. Most commonly on ReturnInvoices. For each document, this may be done at either the document or line level, but not both on the same document.'
    properties:
      Reason:
        type: string
        example: Return
        description: "This provides the reason for a tax override for audit purposes. Typical reasons include: 'Return', 'Layaway', 'Imported'."
      TaxOverrideType:
        type: string
        example: ref456
        description: "Must be one of the following: \n None: Default \n TaxAmount: The TaxAmount overrides the total tax for the document. This is used for imported documents, returns, and layaways where the tax has already been calculated either by AvaTax or another means. \n Exemption: Exemption certificates are overridden making the document taxable. This may be used for situations where a normally exempt entity needs to be treated as not exempt. \n TaxDate: The TaxDate overrides the DocDate as the effective date used for tax calculation. This may effect rates, rules and other factors."
      TaxDate:
        type: string
        example: '2015-01-01'
        description: 'Must be valid date, required if TaxOverrideType is TaxDate The override tax date to use. This is used when the tax has been previously calculated as in the case of a layaway, return or other reason indicated by the Reason element. If the date is not overridden, then it should be set to the same as the DocDate.'
      TaxAmount:
        type: string
        example: '14.26'
        description: 'Must be numeric, required if TaxOverrideType is TaxAmount. The overriding amount of tax to apply. If at the document level, this is distributed across all taxable rows.'
    required:
      - Reason
      - TaxOverrideType
  Address:
    description: Input property of GetTaxRequest representing addresses needed for tax calculations.
    properties:
      AddressCode:
        type: string
        example: '01'
        description: Reference code uniquely identifying this address instance.
      Line1:
        type: string
        example: 45 Fremont Street
        description: 'Address line 1, required if Latitude and Longitude are not provided.'
      Line2:
        type: string
        example: Suite 100
        description: Address line 2
      Line3:
        type: string
        example: ATTN Accounts Payable
        description: Address line 3
      City:
        type: string
        example: Chicago
        description: 'City name, required unless PostalCode is specified and/or Latitude and Longitude are provided.'
      Region:
        type: string
        example: IL
        description: 'State, province, or region name. Required unless City is specified and/or Latitude and Longitude are provided.'
      Country:
        type: string
        example: US
        description: "Country code. If not provided, will default to 'US'."
      PostalCode:
        type: string
        example: '60602'
        description: 'Postal or ZIP code, Required unless City and Region are specified, and/or Latitude and Longitude are provided.'
      Latitude:
        type: number
        format: double
        example: '47.627935'
        description: 'Geographic latitude. If Latitude is defined, it is expected that the longitude field will also be provided. Failure to do so will result in operation error. Calculation by latitude/longitude is available for the United States only. If a latitude/longitude value outside of the US is provided, the service will return an error.'
      Longitude:
        type: number
        format: float
        example: '-122.51702'
        description: 'Geographic longitude. If Longitude is defined, it is expected that the latitude field will also be provided. Fail to do so will result in operation error. Calculation by latitude/longitude is available for the United States only. If a latitude/longitude value outside of the US is provided, the service will return an error.'
      TaxRegionId:
        type: number
        format: integer
        description: 'AvaTax tax region identifier. If a non-zero value is entered into TaxRegionId, other fields will be ignored.'
    required:
      - AddressCode
      - Line1
  ExemptionNo:
    type: string
    example: '12345'
    description: Any string value will cause the sale to be exempt. This should only be used if your finance team is manually verifying and tracking exemption certificates.
  DocCode:
    type: string
    example: INV001
    description: 'While this is an optional field, serious consideration should be given to using it. If no value is sent, AvaTax assigns a GUID value to keep the document unique, which can make reconciliation a challenge.'
  CompanyCode:
    type: string
    example: APITrialCompany
    description: 'The case-sensitive code that identifies the company in the AvaTax account in which the document should be posted. This code is declared during the company setup in the [AvaTax Admin Console](https://admin-development.avalara.net/login.aspx). If no value is passed upon document creation or calculation, the document will be assigned to the default company. If a value is passed that does not match any company on on the account, an error is returned.'
  ResultCode:
    type: string
    example: Error
    description: 'Classifies severity of message. One of: Success, Warning, Error, Exception'
  Country:
    type: string
    example: US
    pattern: '^[A-Z][A-Z]$'
    description: Two character ISO country code.
  Error:
    properties:
      ResultCode:
        $ref: '#/definitions/ResultCode'
      Messages:
        type: array
        items:
          $ref: '#/definitions/Message'
  Message:
    properties:
      Summary:
        type: string
        example: Company not found.  Verify the CompanyCode.
        description: The message summary in short form.
      Details:
        type: string
        example: APITrialCompany
        description: Description of the error or warning.
      RefersTo:
        type: string
        example: CompanyCode
        description: The data used during the request that caused the message to be generated.
      Source:
        type: string
        example: Avalara.AvaTax.Services.Tax
        description: The internal location that generated the message.
  EstimateTaxResult:
    properties:
      Rate:
        type: number
        format: decimal
        description: Total effective tax rate
      Tax:
        type: number
        format: decimal
        description: Total calculated tax amount
      TaxDetails:
        type: array
        items:
          $ref: '#/definitions/TaxDetail'
      ResultCode:
        $ref: '#/definitions/ResultCode'
      Messages:
        type: array
        items:
          $ref: '#/definitions/Message'
  TaxDetail:
    description: Tax details by jurisdiction
    properties:
      Country:
        $ref: '#/definitions/Country'
      JurisName:
        type: string
        description: Name of a tax jurisdiction
        example: BAINBRIDGE ISLAND
      JurisType:
        type: string
        enum:
          - State
          - County
          - City
          - Country
          - Special Tax Jurisdiction
  CancelTaxResult:
    properties:
      TransactionId:
        type: string
        description: The unique numeric identifier of the API operation assigned by the AvaTax service.
      DocId:
        type: string
        description: The unique numeric identifier (Document ID) assigned to the tax document in question by the AvaTax Service.
      ResultCode:
        $ref: '#/definitions/ResultCode'
      Messages:
        type: array
        items:
          $ref: '#/definitions/Message'
  GetTaxResult:
    properties:
      DocCode:
        $ref: '#/definitions/DocCode'
      DocDate:
        type: string
        description: Date of invoice, sales order, purchase order, etc.
      TimeStamp:
        type: string
        format: date-time
        description: Server timestamp of request.
      TotalAmount:
        type: number
        description: Sum of all line Amount values.
      TotalDiscount:
        type: number
        description: Sum of all TaxLine discount amounts.
      TotalExemption:
        type: number
        description: Total exemption amount.
      TotalTaxable:
        type: number
        description: Total taxable amount.
      TotalTax:
        type: number
        description: Sum of all TaxLine tax amounts.
      TotalTaxCalculated:
        type: number
        description: TotalTaxCalculated indicates the total tax calculated by AvaTax. This is usually the same as the TotalTax, except when a tax override amount is specified. This is for informational purposes. The TotalTax will still be used for reporting.
      TaxDate: 
        type: string
        format: date
        description: Date used to assess tax rates and jurisdictions.
      TaxLines:
        type: array
        items:
          $ref: '#/definitions/TaxLine'
      TaxSummary:
        type: array
        items:
          $ref: '#/definitions/TaxDetail'
      TaxAddresses:
        type: array
        items:
          $ref: '#/definitions/TaxAddress'
      ResultCode:
        $ref: '#/definitions/ResultCode'
      Messages:
        type: array
        items: 
          $ref: '#/definitions/Message'
  TaxLine:
    description: Tax calculation details for each item line (returned for detail levels Line and Tax).
    properties:
      LineNo:
        type: string
        description: Line item identifier
      TaxCode:
        type: string
        description: The tax code used in calculating tax
      Taxability:
        type: boolean
        description: Flag indicating item was taxable
      Taxable:
        type: number
        description: The amount that is taxable
      Rate:
        type: number
        description: Effective tax rate
      Tax:
        type: number
        description: Tax amount
      Discount: 
        type: number
        description: Discount amount
      TaxCalculated:
        type: number
        description: Amount of tax calculated
      Exemption:
        type: number
        description: Exempt amount
      BoundaryLevel:
        type: string
        description: 'The boundary level used to calculate tax: determined by the provided addresses'
      TaxDetails:
        type: array
        items:
          $ref: '#/definitions/TaxDetail'
  TaxAddress:
    description: TaxAddress represents canonical addresses used in tax calculation.
    properties:
      Address:
        type: string
        description: Canonical street address
      AddressCode:
        type: string
        description: Reference code uniquely identifying this address instance. AddressCode will always correspond to an address code supplied to in the address collection provided in the request.
      City:
        type: string
        description: City name
      Region:
        type: string
        description: State or region name
      Country:
        type: string
        description: 'Country code, as ISO 3166-1 (Alpha-2) country code (e.g. "US")'
      PostalCode:
        type: string
        description: Postal code
      Latitude:
        type: number
        description: 'Geographic latitude. If Latitude is defined, it is expected that the longitude field will also be provided. Failure to do so will result in operation error. Calculation by latitude/longitude is available for the United States only. If a latitude/longitude value outside of the US is provided, the service will return an error.'
      Longitude:
        type: number
        description: 'Geographic longitude. If Longitude is defined, it is expected that the latitude field will also be provided. Fail to do so will result in operation error. Calculation by latitude/longitude is available for the United States only. If a latitude/longitude value outside of the US is provided, the service will return an error.'
      TaxRegionId:
        type: number
        description: AvaTax tax region identifier
      JurisCode:
        type: string
        description: Tax jurisdiction code
  ValidateResult:
    description: Output for address/validate showing the validated address match or address validation errors.
    properties:
      Line1:
        type: string
        example: 45 Fremont Street
        description: Address line 1
      Line2:
        type: string
        example: Suite 100
        description: Address line 2
      Line3:
        type: string
        example: ATTN Accounts Payable
        description: Address line 3
      City:
        type: string
        example: Chicago
        description: City name
      Region:
        type: string
        example: IL
        description: 'State, province, or region name.'
      Country:
        type: string
        example: US
        description: Country code.
      PostalCode:
        type: string
        example: '60602'
        description: Postal or ZIP code
      AddressType:
        type: string
        description: 'Address type code. One of:\n * F - Firm or company address\n * G - General Delivery address\n * H - High-rise or business complex\n * P - PO Box address\n * R - Rural route address\n * S - Street or residential address'  
      FipsCode:
        type: string
        description: 'FIPSCode is a unique 10-digit code representing each geographic combination of state, county, and city. The code is made up of the Federal Information Processing Code (FIPS) that uniquely identifies each state, county, and city in the U.S. Returned for US addresses only. Digits represent jurisdiction codes:\n * 1-2 State code\n * 3-5 County code\n * 6-10 City code'
      CarrierRoute:
        type: string
        description: 'CarrierRoute is a four-character string representing a US postal carrier route. The first character of this property, the term, is always alphabetic, and the last three numeric. For example, “R001” or “C027” would be typical carrier routes. The alphabetic letter indicates the type of delivery associated with this address. Returned for US addresses only.\n * B - PO Box\n * C - City delivery\n * G - General delivery\n * H - Highway contract\n * R - Rural route'
      PostNet:
        type: string
        description: 'POSTNet is a 12-digit barcode containing the ZIP Code, ZIP+4 Code, and the delivery point code, used by the USPS to direct mail. Returned for US addresses only digits represent delivery information:\n * 1-5 ZIP code\n * 6-9 Plus4 code\n * 10-11 Delivery point\n * 12 Check digit'
      ResultCode:
        $ref: '#/definitions/ResultCode'
      Messages:
        type: array
        items:
          $ref: '#/definitions/Message'